# This notebook is used to add timestamps to BTCDATA.csv dataset and option to remove High, Open and Low

In [6]:
#imports
import pandas as pd 
from datetime import datetime
from datetime import timedelta

### Read original data

In [9]:
btc_data = pd.read_csv("./../datasets/general/BTCDATA.csv")

In [10]:
btc_data.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1325317920,4.39,4.39,4.39,4.39,0.455581,2.000000,4.390000
1,1325317980,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1325318040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1325318100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1325318160,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
4572252,1600041360,10324.35,10325.89,10324.35,10325.89,0.081143,837.754188,10324.419779
4572253,1600041420,10331.41,10331.97,10326.68,10331.97,0.572817,5918.028741,10331.444396
4572254,1600041480,10327.20,10331.47,10321.33,10331.47,2.489909,25711.238323,10326.175283
4572255,1600041540,10330.02,10334.78,10328.64,10334.78,4.572660,47253.747619,10333.972651
4572256,1600041600,10338.82,10338.82,10332.37,10332.37,1.292006,13349.565122,10332.429402

In [11]:
#get timestamp in UTC
btc_data['timestamp'] = [datetime.fromtimestamp(x) for x in btc_data['Timestamp']]
btc_data['timestamp'] = pd.to_datetime(btc_data['timestamp'], utc = True)

In [12]:
btc_data.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price,timestamp
0,1325317920,4.39,4.39,4.39,4.39,0.455581,2.000000,4.390000,2011-12-31 08:52:00+00:00
1,1325317980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-12-31 08:53:00+00:00
2,1325318040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-12-31 08:54:00+00:00
3,1325318100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-12-31 08:55:00+00:00
4,1325318160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011-12-31 08:56:00+00:00
...,...,...,...,...,...,...,...,...,...
4572252,1600041360,10324.35,10325.89,10324.35,10325.89,0.081143,837.754188,10324.419779,2020-09-14 01:56:00+00:00
4572253,1600041420,10331.41,10331.97,10326.68,10331.97,0.572817,5918.028741,10331.444396,2020-09-14 01:57:00+00:00
4572254,1600041480,10327.20,10331.47,10321.33,10331.47,2.489909,25711.238323,10326.175283,2020-09-14 01:58:00+00:00
4572255,1600041540,10330.02,10334.78,10328.64,10334.78,4.572660,47253.747619,10333.972651,2020-09-14 01:59:00+00:00
4572256,1600041600,10338.82,10338.82,10332.37,10332.37,1.292006,13349.565122,10332.429402,2020-09-14 02:00:00+00:00

### Set the below to false if you want Open, High and Low data

In [1]:
remove_open_high_low = True

In [ ]:
#drop open, high and low if variable above is true
if(remove_open_high_low):
    btc_data = btc_data.drop(['Open', 'High', 'Low'], axis=1)

#drop timestamp
btc_data = btc_data.drop(['Timestamp'], axis=1)

### Save dataset

In [ ]:
btc_data.to_csv("./../datasets/general/BTCDATAwithdate.csv")